In [1]:
# 1.	If  name = ''' Hi How are you?
# Starterd learning python.
# It's really interesting.''' Then what is the output of following code

# •	name[:] 
# •	name[-10:-5]
# •	name[3:12]
# •	name[12:3]
# •	name[5,6]
# •	name[-4:-12]
# •	name[::2]
# •	name[::-2]

In [15]:
name = """ Hi How are you?
Starterd learning python.
It's really interesting."""

In [ ]:
name[-10:-5]     #output 'teres'
name[3:12]       #output ' How are '
name[12:3]       #output '' 
name[5:6]        #output 'o'
name[-4:-12]     #output ''
print(name[::2]) #output iHwaeyu tredlann yhn tsral neetn.
name[::-2]       #output '.nteen larst\nnhy nnaldert\nuyeawHi '

'.nteen larst\nnhy nnaldert\nuyeawHi '

In [28]:
L1=['a','b',20,30,'t',100,300,400,'Happy','Major']

In [ ]:
L1[:]        #['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'Major']
L1[::3]      #['a', 30, 300, 'Major']
L1[::-2]     #['Major', 400, 100, 30, 'b']
#How to extract  value “Happy” based on index and negative index
L1[-2]
L1[8]
# e.	How to check type of data in list at 4th position
type(L1[4])
# f.	Extract values for 100, 300, 400 
L1[5:8]

[100, 300, 400]

In [50]:
L2=[1,2,3,5,['a','b','work hard'],100,200,"success"]

In [ ]:
#  then what is the output of following
L2[1:5]   #output [2, 3, 5, ['a', 'b', 'work hard']]
L2[7]     #output 'success'
L2[7][2]  #output 'c'
L2[7][2:] #output 'ccess'
L2[ : 3]  #output [1,2,3]
L2[4]     #output ['a', 'b', 'work hard']
L2[3:]      #output [5, ['a', 'b', 'work hard'], 100, 200, 'success']

[5, ['a', 'b', 'work hard'], 100, 200, 'success']

In [51]:
# 4.	From the above l2 value 'b' must be changed to 'BEE'.
L2[4][1]='BEE'

In [52]:
# 5.	From l2 "BEE" has to discard.
# L2.pop([4][1])
del L2[4][1]

In [53]:
L2[:]

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'success']

In [54]:
# 6.	In l2 add a dictionary at the end {'insect': ['bee', 'moth'] ,'bird' : ['parrot', 'sparrow']}

L2.append({'insect': ['bee','moth'], 'bird':['parrot','sparrow']})

In [58]:
L2

[1,
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
# 7.	Create a dictionary d1 = {'a':10, 'b':20, 'c' : 30} and add the d1 at 2nd position of l2
d1= {'a':10, 'b':20, 'c':30 }

In [63]:
L2.insert(1,d1)

In [67]:
L2

[1,
 {'a': 10, 'b': 20, 'c': 30},
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [70]:
# 8.	From l2 extract insect information.
L2[9]['insect']

['bee', 'moth']

In [71]:
L2

[1,
 {'a': 10, 'b': 20, 'c': 30},
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [72]:
# 9.	Based on new l2 created here extract the value 10 from l2 dictionary.
L2[1]['a']

10

In [73]:
l2 =[1.2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, "Success", (200,300, "Hundreds")]

In [ ]:
# l2 =[1.2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, "Success", (200,300, "Hundreds")]
#then what is the output of following
l2[4][2]  #output 't'
l2[5][:]  #output error int obj is not subscriptive
l2[2][:]  #output error int obj is not subscriptive
l2[1:5]   #output [3, 5, (90, 40, 50, 10), 'Python']
l2[5]     #output 400
l2[5][3:-1]  #output error int obj is not subscriptive
l2[-1]    #output (200, 300, 'Hundreds')
l2[-4, -3]  #output error list indices must be integers or slices
l2[-4:-10]  #output [] 
l2[7][2]    #output error int obj is not subscriptive
l2[-7][2:]  #output 'thon' 
l2[ :- 3]   #output [1.2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]
l2[-3:]       #output [200, 'Success', (200, 300, 'Hundreds')]

[200, 'Success', (200, 300, 'Hundreds')]