In [ ]:
# # 17.	Create a=100 
a=100

In [3]:
# •	Convert a to string 
a=str(a)
a

'100'

In [5]:
# •	Convert a to list    
a=list(a)
a

['1', '0', '0']

In [7]:
# •	Convert a to tuple  
a=tuple(a)
a

('1', '0', '0')

In [10]:
# •	Convert a to dict 
a=(('1','0'),('0','0'))
b=dict(a)
b

{'1': '0', '0': '0'}

In [12]:
# •	Convert a to set 
b=set(b)
b

{'0', '1'}

In [ ]:
# •	Convert to float 
b=float(b) #TypeError: float() argument must be a string or a real number, not 'set'

TypeError: float() argument must be a string or a real number, not 'set'